@font-face {
  font-family: "FS-Me";
  src: local("FS-Me"),
  url("fonts/FS-Me.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "UDD";
  src: local("UDD"),
  url("fonts/UD Digi Kyokasho NP-B.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: FS-Me, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #282828;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bs-studio-primary: #ff5500;
  --bs-studio-primary-hover: #db4300;
  --bs-studio-primary-active: #bb3d00;
}

.btn-primary {
  --bs-btn-bg: var(--bs-studio-primary);
  --bs-btn-border-color: var(--bs-studio-primary);
  --bs-btn-hover-bg: var(--bs-studio-primary-hover);
  --bs-btn-hover-border-color: var(--bs-studio-primary-hover);
  --bs-btn-active-bg: var(--bs-studio-primary-active);
  --bs-btn-active-border-color: var(--bs-studio-primary-active);
  --bs-btn-disabled-bg: var(--bs-studio-primary);
  --bs-btn-disabled-border-color: var(--bs-studio-primary);
}

a {
  color: inherit !important;
}

.text-justify {
  text-align: justify;
}

.full-height {
  min-height: 100vh;
}

.navbar {
  position: fixed;
  z-index: 11;
  width: 100vw;
}

.cursor-pointer {
  cursor: pointer;
}

.narrow-container {
  max-width: 1000px;
}