:root {
  --bs-studio-primary: #ff5500;
  --bs-studio-primary-hover: #db4300;
  --bs-studio-primary-active: #bb3d00;
  --bs-dark: #202020;
}

html {
  /* helps with auto scrolling to the top of the story */
  scroll-behavior: auto !important;
}

@font-face {
  font-family: "FS-Me";
  src: local("FS-Me"),
  url("shared/fonts/FS-Me.otf") format("opentype");
  font-weight: normal;
}


body {
  margin: 0;
  font-family: FS-Me, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #0F0F0F;
  user-select: none;
}

.btn-primary {
  --bs-btn-bg: var(--bs-studio-primary);
  --bs-btn-border-color: var(--bs-studio-primary);
  --bs-btn-hover-bg: var(--bs-studio-primary-hover);
  --bs-btn-hover-border-color: var(--bs-studio-primary-hover);
  --bs-btn-active-bg: var(--bs-studio-primary-active);
  --bs-btn-active-border-color: var(--bs-studio-primary-active);
  --bs-btn-disabled-bg: var(--bs-studio-primary);
  --bs-btn-disabled-border-color: var(--bs-studio-primary);
}

.text-justify {
  text-align: justify;
}

.full-height {
  min-height: 100vh;
}

.perfectly-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.narrow-container {
  max-width: 1000px;
}